body {
    background-image: url("image/service1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.panel {
    border: 2px solid #808080;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.panel-heading h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.panel-body {
    padding-bottom: 40px;
}

label {
    width: 200px;
}